<!-- events/templates/kalender.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %} Kalender2 {% endblock %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'events/css/styles.css' %}">
</head>

{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <h2>Kalender</h2>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a> / Kalender2
      </div>
    <hr/>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
          {{ calendar }}
      </div>
    </div>
  </div>

{% endblock %}