<!-- events/templates/show_venue.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %} Show Venue {% endblock %}
{% block content %}

   <!-- ***** Breadcrumb Area Start ***** -->
   
   <div class="container">
     <div class="row">
       <div class="col-12">
         <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a> / <a href="{% url 'all_venues' %}"> Venues</a> / venue
       </div>
       <hr/>
     </div>
     <h2>Venue: {{ venue.name }}</h2>
   </div>
   <!-- ***** Breadcrumb Area End ***** -->
  <div class="container">
    <div class="card">
      <div class="card-header">
        <strong>{{ venue.name }}</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">adresgegevens:</h5>
        <p class="card-text">
          <ul>
            <li>Naam: {{ venue.name }}</li>
            <li>Adres: {{ venue.adres }}</li>
            <li>Postcode/plaats: {{ venue.postcode }}, {{ venue.plaats }}</li>
            <li>Telefoon: {{ venue.telefoon }}</li>
            <li>Website: <a href="{{ venue.website }}">{{ venue.website }}</a></li>         
            <br/>
          </ul>
        </p>
      </div>
    </div>
  </div>

{% endblock %}