{% extends 'base.html' %}
{% load static %}
{% block title %}Dento - Dentist &amp; Medical - Calendar{% endblock %}
{% block content %}

  <!-- Agenda Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Agenda</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mx-auto" style="width: 200px;">
            {{ cal|safe }}
            </br>
            <div class="section-heading text-center">
              <div class="line"></div>
              {{ current_time }}
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Agenda Area End -->

  {% endblock %}