{% extends 'base.html' %}
{% load static %}
{% block title %}Dento - Dentist &amp; Medical - Calendar{% endblock %}
{% block content %}

  <!-- Calender Area Start -->
  <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center white">
            <h2>Calendar {{ year }} {{month}} </h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mx-auto" style="width: 200px;">
          {{ cal|safe }}
          </br>
          <div class="section-heading text-center">
            <div class="line"></div>
            Time: {{ current_time }} Maand: {{ month_number }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Kalender Area End -->

  {% endblock %}