{% load static %}

<!-- ***** Navbar Start ***** -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Logo -->
  <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'website/img/core-img/logo.png' %}" alt=""></a>
  <!-- buttons -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home </a>
        </li>
        <!-- Dental menu code -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'index' %}">Home</a></li>
            <li><a class="dropdown-item" href="{% url 'about' %}">About us</a></li>
            <li><a class="dropdown-item" href="{% url 'service' %}">Service</a></li>
            <li><a class="dropdown-item" href="{% url 'pricing' %}">Pricing</a></li>
            <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
            <li><a class="dropdown-item" href="{% url 'blog-details' %}">Blog Details</a></li>
            <li><a class="dropdown-item" href="{% url 'book_appointment' %}">Book Appointment</a></li>
            <li><a class="dropdown-item" href="{% url 'agenda' %}">Agenda</a></li>
            <li><a class="dropdown-item" href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </li>
        <!-- Events menu code -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'all_events' %}">Alle Events</a></li>
            <li><a class="dropdown-item" href="{% url 'add_venue' %}">Add Venue</a></li>
            <li><a class="dropdown-item" href="{% url 'agenda' %}">Deze Maand</a></li>
            <li><a class="dropdown-item" href="{% url 'agenda' '2021' 'March' %}">Maart</a></li>
            <li><a class="dropdown-item" href="{% url 'agenda' '2021' 'April' %}">April</a></li>
          </ul>
        </li>
        <!-- Stock menu code -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stocks
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'all_stocks' %}">Alle Stocks</a></li>
            <li><a class="dropdown-item" href="{% url 'stockvalues' %}">Stock values</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'all_blogposts' %}">Alle Blogposts</a></li>
            <li><a class="dropdown-item" href="{% url 'all_categories' %}">Alle Categorien</a></li>
            {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'add_blogpost' %}">Add Blogpost</a></li>
              <li><a class="dropdown-item" href="{% url 'add_category' %}">Add Category</a></li>
            {% endif %}
          </ul>
        </li>
        <!-- Category menu code -->
        {% if cat_menu %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorien
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for item in cat_menu %}
                <a class="dropdown-item" href="{% url 'category' item|slugify %}">{{ item }}</a>
              {% endfor %}
              <div class="dropdown-divider"></div>
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'add_category' %}">Add Category</a>
              {% endif %}
            </div>
          </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'all_categories' %}">Categories</a></li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'default_map' %}">Default map </a>
        </li>
        <!-- Energie menu code -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Energie 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'all_meterstanden' %}">Alle Meterstanden</a></li>
            <li><a class="dropdown-item" href="{% url 'add_venue' %}">Gas</a></li>
            <li><a class="dropdown-item" href="{% url 'agenda' %}">Water</a></li>
            <li><a class="dropdown-item" href="{% url 'agenda' '2021' 'March' %}">Zonnepanelen</a></li>
            <li><a class="dropdown-item" href="{% url 'agenda' '2021' 'April' %}">Electriciteit</a></li>
          </ul>
        </li>
      </ul>

      <!-- Rechterkant van de Navbar -->
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown dropstart">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'edit_usersettings' %}">Edit Settings</a></li>
            <li><a class="dropdown-item" href="{% url 'change_password' %}">Change password</a></li>
            {% if user.userprofile.id %}
                  <a class="dropdown-item" href="{% url 'edit_profile' user.userprofile.id %}">Edit Profile</a>
                  <a class="dropdown-item" href="{% url 'show_profile' user.userprofile.id %}">Show Profile</a>
                {% else %}
                  <a class="dropdown-item" href="{% url 'create_profile' %}">Create Profile</a>
                {% endif %}
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>              
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- ***** Navbar End ***** -->