{% extends 'base.html' %}
{% load static %}
{% block title %} Default map {% endblock %}
{% block content %}

   <!-- ***** Breadcrumb Area Start ***** -->
   
   <div class="container">
     <div class="row">
       <div class="col-12">
         <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a> / Default map
       </div>
       <hr/>
     </div>
     <h2>Default map</h2>
   </div>
   <!-- ***** Breadcrumb Area End ***** -->
  <div class="container">
    <div id='map' style='width: 100%; height: 400px;'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiY2ZpY2tlIiwiYSI6ImNrbGIwYzg0ajBxa2EydnM4eXR1ZHp0dGgifQ.x9EoFA_ddcBU5HkBDGZ-eA';
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [5, 52.6], // starting position
      zoom: 8 // starting zoom
      });
       
      // Add zoom and rotation controls to the map.
      map.addControl(new mapboxgl.NavigationControl());
    </script>
    <br/>
  </div>

{% endblock %}
