{% extends 'base.html' %}

{% block title %}
  All blogs
{% endblock %}

{% block content %}
  <h2>Blogposts</h2>

  <ul>
    {% for blogpost in object_list %}
      <li>
        <a href="{% url 'show_blogpost' blogpost.pk %}">{{ blogpost.title }}</a>
         -  <a href="{% url 'category' blogpost.category|slugify %}">{{ blogpost.category }}</a>
         - {{ blogpost.author.first_name }} {{ blogpost.author.last_name }}
         - {{ blogpost.post_date }}
         {% if user.is_authenticated and blogpost.author.id == user.id %}
          - <a href="{% url 'update_blogpost' blogpost.pk %}">(Edit)</a>
          - <a href="{% url 'delete_blogpost' blogpost.pk %}">(Delete)</a>
        {% endif %}
        <br/>
        {{ blogpost.snippet }}
        <!--{{ blogpost.body|slice:":200"|safe }}...-->
        <br/><br/>
      </li>
    {% endfor %}
  </ul>

{% endblock %}