{% extends 'base.html' %}
{% load static %}
{% block title %} Categories {% endblock %}
{% block content %}
  
  {% if category_posts %}
    <h2>Posts in de categorie "{{ cats }}"</h2>
    <ul>
       {% for post in category_posts %}
        <li>
          <a href="{% url 'show_blogpost' post.pk %}">{{ post.title }}</a>
           - {{ post.author.first_name }} {{ post.author.last_name }}
           - {{ post.post_date }} 
          {% if user.is_authenticated and post.author.id == user.id %}
            - <a href="{% url 'update_blogpost' post.pk %}">(Edit)</a> - 
            <a href="{% url 'delete_blogpost' post.pk %}">(Delete)</a>
          {% endif %} 
          <br/>
          {{ post.body|slice:":200"|safe }}...
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <br/>
    <h3>Er zijn nog geen blogs in de categorie "{{ cats }}"</h3>
    <br/>
  {% endif %}

{% endblock %}